* {
    font-family: 'Manrope', sans-serif;
    color: hsl(225, 20%, 60%);
}

/*common*/
.margin-left {
    margin-left: 10px;
}

hr {
    border: 0.1px solid #ece7e7d9;
}

body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: hsl(230, 100%, 99%);
}

.background {
    position: absolute;
    z-index: 1;
    margin-top: -45px;
    top: 0;
    background-image: url("images/bg-pattern.svg");
}

/* .background img {
    width: 100%;
    height: 400px;
} */

main {
    background-image: url("images/bg-pattern.svg");
    position: relative;
    top: 0;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
}

.page-container {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 10;
}

.page-container .page-header {
    text-align: center;
    margin-top: 100px;
    line-height: 0.5;
}

.page-container .page-header h3 {
    font-weight: 800;
    color: hsl(227, 35%, 25%);
    font-size: 25px;
}

.page-container .page-header p {
    font-size: 14px;
}

.page-container .card-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.page-container .card-container .card {
    width: 40%;
    height: auto;
    box-shadow: 1px 1px 15px #00000026;
    background-color: hsl(0, 0%, 100%);
    z-index: 2;
    position: relative;
    border-radius: 10px;
}

.page-container .card-container .card .card-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.page-container .card-container .card .card-top > p {
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 2px;
}

.page-container .card-container .card .card-top .price h3 {
    color: hsl(227, 35%, 25%);
    font-size: 25px;
    margin: 0;
}

.page-container .card-container .card .card-top .price h3 span {
    color: hsl(227, 35%, 25%);
}

.page-container .card-container .card .card-top .price {
    display: flex;
    justify-content: space-between;
}

.page-container .card-container .card .card-top .price p {
    font-size: 12px;
    margin-left: 5px;
    font-weight: 100;
    margin-top: 8px;
}

.page-container .card-container .card .card-top .slider-bar-mobile {
    width: 100%;
    height: 30px;
    display: none;
    justify-content: center;
}

.page-container .card-container .card .slider-bar-container {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.page-container .card-container .card .slider-bar {
    width: 80%;
    position: relative;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;
    background-color: hsl(220, 8%, 85%);
    position: absolute;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 5;
    position: relative;
  }


   #selector {
    height: 28px;
    width: 28px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    cursor: pointer;
  }

  .selectorBtn {
      height: 28px;
      width: 28px;
      background-color: hsl(174, 86%, 45%);
      border-radius: 50%;
      position: absolute;
      bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .selectorBtn img {
      width: 10px;
      height: 10px;
  }

  #progressbar {
    width: 50%;
    height: 8px;
    background-color: hsl(174, 86%, 45%);
    top: 1px;
    left: 0px;
    border-radius: 10px;
    position: absolute;
  }

  .card-container .card .billing-section {
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
      left: 5%;
      position: relative;
  }

  .card-container .card .billing-section p {
      font-size: 10px;
  }

  .card-container .card .billing-section .discount-container {
      background-color: hsl(14, 92%, 95%);
      position: relative;
      height: 15px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .card-container .card .billing-section .discount-container p {
      padding: 0;
      margin: 0;
      font-size: 10px;
  }

  .card-container .card .billing-section .check-box {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
  }
   .card-container .card .billing-section .check-box input {
    opacity: 0;
    width: 40px;
    height: 20px;
    position: absolute;
    z-index: 15;
  } 

  .card-container .card .billing-section .check-box .checkbox-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
  }


  .card-container .card .billing-section .check-box .checkbox-slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  .card-container .card .billing-section .check-box input:checked + .checkbox-slider {
    background-color: hsl(174, 86%, 45%);
  }

  .card-container .card .billing-section .check-box input:focus + .checkbox-slider {
    box-shadow: 0 0 1px hsl(174, 86%, 45%);
  }

  .card-container .card .billing-section .check-box input:checked + .checkbox-slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
  }


  .card-container .card .card-bottum {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .card-container .card .card-bottum .services {
      padding: 20px;
  }

  .card-container .card .card-bottum .services ul {
      list-style: none;
      padding: 0;
  }

  .card-container .card .card-bottum .services ul li {
      font-size: 10px;
      line-height: 2;
      color: hsl(227, 35%, 25%);
  }

  .card-container .card .card-bottum .services ul li .icon {
      margin-right: 10px;
  }

  .card-container .card .card-bottum .btn-container {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      right: 5%;
  }

  .card-container .card .card-bottum .btn-container button {
      border: none;
      background-color: hsl(227, 35%, 25%);
      color: rgba(255, 255, 255, 0.644);
      padding: 10px;
      border-radius: 50px;
      font-size: 10px;
      width: 100px;
  }
  .card-container .card .card-bottum .btn-container button:hover {
      color: white;
      cursor: pointer;
  }

@media(max-width:770px) {


    .card-container .card .billing-section .discount-container {
        width: 30px;
    }

    .hidden {
        display: none;
    }

    .page-container .card-container .card {
        width: 80%;
    }

    .page-container .card-container .card .card-top {
        display: block;
        text-align: center;
    }

    .page-container .card-container .card .card-top .slider-bar-mobile {
        display: none;
    }

    .page-container .card-container .card .card-top .slider-bar-mobile .slider-bar {
        width: 100%;
    }

    .page-container .card-container .card .card-top .slider-bar-mobile .slider-bar .slider {
        position: relative;
    }

    .page-container .card-container .card .card-top .price {
        justify-content: center;
    }
    .page-container .card-container .card .slider-bar-container {
        display: flex;
    }
}

/* @media(max-width:375px) {
    body {
        overflow-x: hidden;
        width: 100%;
    }
    .background img {
        width: 100%;
    }
} */
